## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abu Dhabi,AE,24.4667,54.3667,71.71,72,0,1.99,clear sky
1,1,Albany,US,42.6001,-73.9662,19.94,67,27,11.01,scattered clouds
2,2,Sayyan,YE,15.1718,44.3244,58.42,63,28,1.90,scattered clouds
3,3,Cabo San Lucas,MX,22.8909,-109.9124,68.61,63,0,2.30,clear sky
4,4,Soke,ML,13.5980,-5.9386,85.68,7,0,6.64,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 30
What is your desired maximum temperature for your trip? 100

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abu Dhabi,AE,24.4667,54.3667,71.71,72,0,1.99,clear sky
2,2,Sayyan,YE,15.1718,44.3244,58.42,63,28,1.90,scattered clouds
3,3,Cabo San Lucas,MX,22.8909,-109.9124,68.61,63,0,2.30,clear sky
4,4,Soke,ML,13.5980,-5.9386,85.68,7,0,6.64,clear sky
7,7,Punta Arenas,CL,-53.1500,-70.9167,62.71,59,75,34.52,broken clouds
8,8,Port Alfred,ZA,-33.5906,26.8910,70.27,83,98,24.61,overcast clouds
9,9,Ushuaia,AR,-54.8000,-68.3000,64.02,39,40,12.66,scattered clouds
10,10,Almazar,UZ,40.3217,69.0106,44.31,21,75,25.05,broken clouds
11,11,Port Lincoln,AU,-34.7333,135.8667,65.80,80,100,15.99,overcast clouds
12,12,Isla Mujeres,MX,21.2311,-86.7310,80.65,71,40,10.20,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Abu Dhabi,AE,24.4667,54.3667,71.71,72,0,1.99,clear sky
2,2,Sayyan,YE,15.1718,44.3244,58.42,63,28,1.90,scattered clouds
3,3,Cabo San Lucas,MX,22.8909,-109.9124,68.61,63,0,2.30,clear sky
4,4,Soke,ML,13.5980,-5.9386,85.68,7,0,6.64,clear sky
7,7,Punta Arenas,CL,-53.1500,-70.9167,62.71,59,75,34.52,broken clouds
...,...,...,...,...,...,...,...,...,...,...
811,811,Rio Branco,BR,-9.9747,-67.8100,83.01,83,75,3.44,broken clouds
812,812,La Libertad,EC,-2.2333,-80.9000,82.06,69,0,6.91,clear sky
815,815,Mantua,IT,45.1667,10.7833,50.49,87,6,1.99,clear sky
817,817,Arcos,BR,-20.2819,-45.5394,83.32,60,93,4.07,overcast clouds
819,819,North Bend,US,43.4065,-124.2243,47.16,100,11,8.55,few clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Abu Dhabi,AE,71.71,clear sky,24.4667,54.3667,
2,Sayyan,YE,58.42,scattered clouds,15.1718,44.3244,
3,Cabo San Lucas,MX,68.61,clear sky,22.8909,-109.9124,
4,Soke,ML,85.68,clear sky,13.5980,-5.9386,
7,Punta Arenas,CL,62.71,broken clouds,-53.1500,-70.9167,
8,Port Alfred,ZA,70.27,overcast clouds,-33.5906,26.8910,
9,Ushuaia,AR,64.02,scattered clouds,-54.8000,-68.3000,
10,Almazar,UZ,44.31,broken clouds,40.3217,69.0106,
11,Port Lincoln,AU,65.80,overcast clouds,-34.7333,135.8667,
12,Isla Mujeres,MX,80.65,scattered clouds,21.2311,-86.7310,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Abu Dhabi,AE,71.71,clear sky,24.4667,54.3667,Ramee Garden Hotel Apartments
2,Sayyan,YE,58.42,scattered clouds,15.1718,44.3244,ملاطف ابوحورية
3,Cabo San Lucas,MX,68.61,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
7,Punta Arenas,CL,62.71,broken clouds,-53.1500,-70.9167,Hotel Hain
8,Port Alfred,ZA,70.27,overcast clouds,-33.5906,26.8910,The Halyards Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))